<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

{{ $theme := "auto"}}

{{ with .Param "theme" }}
{{ $theme = .}}
{{ end }}

<body class="{{ $theme }}">

  <div class="content">
    <header>
      {{ partial "header.html" . }}
    </header>

    <main class="main">
      {{ if .IsHome }}
        <h1>{{ .Site.Params.title }}</h1>
      {{ else }}
        {{ site.Params.title }}
      {{ end }}

      {{ block "main" . }}{{ end }}
    </main>
  </div>

  {{/* Body end hook */}}
  {{ partial "functions/get_hook.html" (dict "hook" "body_end" "context" .) }}

  <footer>
    {{ partial "footer.html" . }}
  </footer>

  {{ if .Param "math" }}
  {{ partialCached "math.html" . }}
  {{ end }}
</body>

<script src="{{ "js/theme-switch.js" | relURL }}"></script>
<script defer src="{{ "js/copy-code.js" | relURL }}"></script>

{{ if .Store.Get "hasMermaid" }}
{{ $mermaidDarkTheme := default "dark" (or .Params.mermaidDarkTheme .Site.Params.mermaidDarkTheme) }}
{{ $mermaidTheme := default "default" (or .Params.mermaidTheme .Site.Params.mermaidTheme) }}
<script defer
type="module"
id="mermaid_script"
data-light-theme="{{ $mermaidTheme }}"
data-dark-theme="{{ $mermaidDarkTheme }}"
src='{{ "js/mermaid.js" | relURL }}'>
</script>
{{ end }}

</html>
