{{ define "main" }}

<div class="list-container">
  {{ partial "breadcrumbs.html" . }}

  {{- if ne (.Params.toc) false }}
  <aside class="toc">{{ .TableOfContents }}</aside>
  {{- end }}

  {{ with .Params.heading }}
  <h1 class="heading">{{ . }}</h1>
  {{ end }}

  <div class="single-content">{{ .Content }}</div>
  {{ $tagsPage := eq .Title "tags"}} {{ $paginationSize := 1}} {{ if (gt
  .Site.Params.paginationSize 0) }} {{ $paginationSize =
  .Site.Params.paginationSize }} {{ end }} {{ $paginator := .Paginate (.Pages)
  $paginationSize }} {{ range $index, $page := $paginator.Pages }} {{ end }}
</div>
{{ end }}
